<!DOCTYPE html>
<link rel="stylesheet" href="style.css">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" >

</head>
<body>
    <!-- This is the top header part-->
    <nav class="navbar hic_header bannerRectangle">
        <div class="container-fluid d-flex justify-content-center" >
            <div class="col-md"></div>
          <a class="navbar-brand text-center">Publish</a>
          <div class="col text-end">
            <a href="new_user" class="bannerButton" style="position:relative;right:10px; padding:15px 30px" >Logout</a>
          </div>
        </div>
      </nav>
      
      
      
    <!-- This is the left navbar-->
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="/" class=" nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="trending" class="nav-link px-0 align-middle">
                                 <span class="ms-1 d-none d-sm-inline">Trending</span> </a>
                           
                        </li>
                        <li>
                            <a href="latest" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline">Latest</span></a>
                        </li>
                        <li>
                            <a href="search" class="nav-link px-0 align-middle ">
                                <span class="ms-1 d-none d-sm-inline">Search</span></a>
                            
                        </li>
                        <li>
                            <a href="feed" class="nav-link px-0 align-middle ">
                                <span class="ms-1 d-none d-sm-inline">Feed</span></a>
                            
                        </li>
                        <li>
                            <a href="settings" class="nav-link px-0 align-middle ">
                                <span class="ms-1 d-none d-sm-inline">Settings</span></a>
                            
                        </li>
                        
                    
                    </ul>
                    <hr>
                    
                </div>
            </div>
            <main class="col py-3 background">
                <!--Content goes here-->

                <!--Content goes here-->
                <h2 style="text-align: center;">{{page}} </h2>

                <!-- Big article at top -->
                <div id="big-card-wrapper">
                    <div id="big-card" class="card">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                          <h2 class="card-title">My Skibidi Toilet addiction</h2>
                          <p class="card-text">William Afton, published 4/20/24</p>
                          <p class="card-text">blah blah blah blah</p>
                          <a href="/article/{{item['_id']}}" class="btn btn-primary">Go to article</a>
                        </div>
                    </div>
                </div>

                <!-- Smaller articles below -->
                <div class="card-columns">
                    {% for item in data%}
                    <div class="card">
                        <div class="card-header">
                          {{page}}
                        </div>

                        <div class="card-body">
                          <h5 class="card-title">{{item["title"]}}</h5>
                          <p class="card-text"> {{item["author"]}}, published {{item["date_string"]}}</p>
                          <a href="/article/{{item['_id']}}" class="btn btn-primary">Go to article</a>
                        </div>
                      </div>
                      {% endfor %}
                </div>

            </div>
        </div>
    </div>
    
 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>